<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
	<!-- Settings for BOM API (> June 2021)	-->

<!-- LOCATIONS -->

	<category label="32200">

		<setting label="32208" type="lsep"/>
	    <setting id="Location1" label="32202" type="action" action="RunScript($ID,Location1)" default=""/>
		<setting id="Location2" label="32203" type="action" action="RunScript($ID,Location2)" enable="!eq( -1,)" default=""/>
		<setting id="Location3" label="32204"  type="action" action="RunScript($ID,Location3)" enable="!eq( -1,)" default=""/>

		<!-- HIDDEN SETTINGS -->
		<!-- BOM location geohashes -->
	    <setting id="Location1BOMGeoHash" type="text" visible="false" default=""/>
		<setting id="Location2BOMGeoHash" type="text" visible="false" default=""/>
		<setting id="Location3BOMGeoHash" type="text" visible="false" default=""/>
		<!-- BOM location lat/longs -->
		<setting id="Location1Lat" type="text" visible="false" default=""/>
		<setting id="Location1Lon" type="text" visible="false" default=""/>
		<setting id="Location2Lat" type="text" visible="false" default=""/>
		<setting id="Location2Lon" type="text" visible="false" default=""/>
		<setting id="Location3Lat" type="text" visible="false" default=""/>
		<setting id="Location3Lon" type="text" visible="false" default=""/>
		<!-- BOM, FUTURE - find the nearest radar via the BOM list, to later support new BOM svg radars?? -->
		<setting id="Radar1Lat" type="text" visible="false" default=""/>
		<setting id="Radar1Lon" type="text" visible="false" default=""/>
		<setting id="Radar2Lat" type="text" visible="false" default=""/>
		<setting id="Radar2Lon" type="text" visible="false" default=""/>
		<setting id="Radar3Lat" type="text" visible="false" default=""/>
		<setting id="Radar3Lon" type="text" visible="false" default=""/>

	</category>

<!-- EXTENDED FEATURES = Animated Radars from BOM and 90 second weather report from ABC -->

	<category label="32205">

		<!-- HIDDEN SETTINGS - BOM - copy needed here as Kodi won't allow conditions across pages (categories)-->
		<setting id="Location1BOMGeoHash" type="text" visible="false" default=""/>
		<setting id="Location2BOMGeoHash" type="text" visible="false" default=""/>

		<setting id="ExtendedFeaturesToggle" label="32194" type="bool" default="false"/>
   		<setting id="BGDownloadToggle" label="32197" type="bool" default="false" enable="!eq(-1,false)"/>
   		<!-- Best is mapped to trw in default.py -->
		<setting id="ABCQuality" label ="32196" type ="labelenum" values="256k|512K|1000k" default="1000k" enable="!eq(-2,false)"/>
		<setting id="Radar1" label="32155" type="text" default="IDR00004" enable="!eq(-3,false)"/>
		<setting id="Radar2" label="32156" type="text" enable="!eq( -5,) + !eq(-4,false)" default=""/>
		<setting id="Radar3" label="32157" type="text" enable="!eq( -6,) + !eq(-5,false)" default=""/>

	</category>

<!-- Weatherzone Settings (for legacy/fallback scraping) -->

	<category label="32201">

		<setting label="32206" type="lsep"/>
		<setting id="Location1WeatherZone" label="32111" type="action" action="RunScript($ID,Location1WeatherZone)" default=""/>
		<setting id="Location2WeatherZone" label="32112" type="action" action="RunScript($ID,Location2WeatherZone)" enable="!eq( -1,)" default=""/>
		<setting id="Location3WeatherZone" label="32113" type="action" action="RunScript($ID,Location3WeatherZone)" enable="!eq( -1,)" default=""/>

		<!-- HIDDEN SETTINGS - Weatherzone - left out WeatherZone in these names for backwards compatibility...-->
		<setting id="Location1UrlPath" type="text" visible="false" default=""/>
		<setting id="Location2UrlPath" type="text" visible="false" default=""/>
		<setting id="Location3UrlPath" type="text" visible="false" default=""/>

	</category>

</settings>
